:root {
  --unit-1: 0.25rem;
  --unit-2: 0.5rem;
  --unit-3: 0.75rem;
  --unit-4: 1rem;
  --unit-5: 1.25rem;
  --unit-6: 1.5rem;
  --unit-7: 1.75rem;
  --unit-8: 2rem;
  --unit-9: 2.25rem;
  --unit-10: 2.5rem;
  --unit-11: 2.75rem;
  --unit-12: 3rem;
  --unit-13: 3.25rem;
  --unit-14: 3.5rem;
  --unit-15: 3.75rem;
  --unit-16: 4rem;
  --unit-17: 4.25rem;
  --unit-18: 4.5rem;
  --unit-19: 4.75rem;
  --unit-20: 5rem;
  --unit-21: 5.25rem;
  --unit-22: 5.5rem;
  --unit-23: 5.75rem;
  --unit-24: 6rem;
  --unit-25: 6.25rem;
  --unit-26: 6.5rem;
  --unit-27: 6.75rem;
  --unit-28: 7rem;
  --unit-29: 7.25rem;
  --unit-30: 7.5rem;
  --unit-31: 7.75rem;
  --unit-32: 8rem;
  --unit-33: 8.25rem;
  --unit-34: 8.5rem;
  --unit-35: 8.75rem;
  --unit-36: 9rem;
  --unit-37: 9.25rem;
  --unit-38: 9.5rem;
  --unit-39: 9.75rem;
  --unit-40: 10rem;
  --unit-41: 10.25rem;
  --unit-42: 10.5rem;
  --unit-43: 10.75rem;
  --unit-44: 11rem;
  --unit-45: 11.25rem;
  --unit-46: 11.5rem;
  --unit-47: 11.75rem;
  --unit-48: 12rem;
  --unit-49: 12.25rem;
  --unit-50: 12.5rem;
  --unit-51: 12.75rem;
  --unit-52: 13rem;
  --unit-53: 13.25rem;
  --unit-54: 13.5rem;
  --unit-55: 13.75rem;
  --unit-56: 14rem;
  --unit-57: 14.25rem;
  --unit-58: 14.5rem;
  --unit-59: 14.75rem;
  --unit-60: 15rem;
  --unit-61: 15.25rem;
  --unit-62: 15.5rem;
  --unit-63: 15.75rem;
  --unit-64: 16rem;
  --unit-65: 16.25rem;
  --unit-66: 16.5rem;
  --unit-67: 16.75rem;
  --unit-68: 17rem;
  --unit-69: 17.25rem;
  --unit-70: 17.5rem;
  --unit-71: 17.75rem;
  --unit-72: 18rem;
  --unit-73: 18.25rem;
  --unit-74: 18.5rem;
  --unit-75: 18.75rem;
  --unit-76: 19rem;
  --unit-77: 19.25rem;
  --unit-78: 19.5rem;
  --unit-79: 19.75rem;
  --unit-80: 20rem;
  --unit-81: 20.25rem;
  --unit-82: 20.5rem;
  --unit-83: 20.75rem;
  --unit-84: 21rem;
  --unit-85: 21.25rem;
  --unit-86: 21.5rem;
  --unit-87: 21.75rem;
  --unit-88: 22rem;
  --unit-89: 22.25rem;
  --unit-90: 22.5rem;
  --unit-91: 22.75rem;
  --unit-92: 23rem;
  --unit-93: 23.25rem;
  --unit-94: 23.5rem;
  --unit-95: 23.75rem;
  --unit-96: 24rem;
  --unit-97: 24.25rem;
  --unit-98: 24.5rem;
  --unit-99: 24.75rem;
  --unit-100: 25rem;
  --unit-101: 25.25rem;
  --unit-102: 25.5rem;
  --unit-103: 25.75rem;
  --unit-104: 26rem;
  --unit-105: 26.25rem;
  --unit-106: 26.5rem;
  --unit-107: 26.75rem;
  --unit-108: 27rem;
  --unit-109: 27.25rem;
  --unit-110: 27.5rem;
  --unit-111: 27.75rem;
  --unit-112: 28rem;
  --unit-113: 28.25rem;
  --unit-114: 28.5rem;
  --unit-115: 28.75rem;
  --unit-116: 29rem;
  --unit-117: 29.25rem;
  --unit-118: 29.5rem;
  --unit-119: 29.75rem;
  --unit-120: 30rem;
  --unit-121: 30.25rem;
  --unit-122: 30.5rem;
  --unit-123: 30.75rem;
  --unit-124: 31rem;
  --unit-125: 31.25rem;
  --unit-126: 31.5rem;
  --unit-127: 31.75rem;
  --unit-128: 32rem;
  --unit-129: 32.25rem;
  --unit-130: 32.5rem;
  --unit-131: 32.75rem;
  --unit-132: 33rem;
  --unit-133: 33.25rem;
  --unit-134: 33.5rem;
  --unit-135: 33.75rem;
  --unit-136: 34rem;
  --unit-137: 34.25rem;
  --unit-138: 34.5rem;
  --unit-139: 34.75rem;
  --unit-140: 35rem;
  --unit-141: 35.25rem;
  --unit-142: 35.5rem;
  --unit-143: 35.75rem;
  --unit-144: 36rem;
  --unit-145: 36.25rem;
  --unit-146: 36.5rem;
  --unit-147: 36.75rem;
  --unit-148: 37rem;
  --unit-149: 37.25rem;
  --unit-150: 37.5rem;
  --unit-151: 37.75rem;
  --unit-152: 38rem;
  --unit-153: 38.25rem;
  --unit-154: 38.5rem;
  --unit-155: 38.75rem;
  --unit-156: 39rem;
  --unit-157: 39.25rem;
  --unit-158: 39.5rem;
  --unit-159: 39.75rem;
  --unit-160: 40rem;
  --unit-161: 40.25rem;
  --unit-162: 40.5rem;
  --unit-163: 40.75rem;
  --unit-164: 41rem;
  --unit-165: 41.25rem;
  --unit-166: 41.5rem;
  --unit-167: 41.75rem;
  --unit-168: 42rem;
  --unit-169: 42.25rem;
  --unit-170: 42.5rem;
  --unit-171: 42.75rem;
  --unit-172: 43rem;
  --unit-173: 43.25rem;
  --unit-174: 43.5rem;
  --unit-175: 43.75rem;
  --unit-176: 44rem;
  --unit-177: 44.25rem;
  --unit-178: 44.5rem;
  --unit-179: 44.75rem;
  --unit-180: 45rem;
  --unit-181: 45.25rem;
  --unit-182: 45.5rem;
  --unit-183: 45.75rem;
  --unit-184: 46rem;
  --unit-185: 46.25rem;
  --unit-186: 46.5rem;
  --unit-187: 46.75rem;
  --unit-188: 47rem;
  --unit-189: 47.25rem;
  --unit-190: 47.5rem;
  --unit-191: 47.75rem;
  --unit-192: 48rem;
  --unit-193: 48.25rem;
  --unit-194: 48.5rem;
  --unit-195: 48.75rem;
  --unit-196: 49rem;
  --unit-197: 49.25rem;
  --unit-198: 49.5rem;
  --unit-199: 49.75rem;
  --unit-200: 50rem;
}